.App {
  font-family: sans-serif;
  text-align: center;
  background: aliceblue;
  border: 1px solid gainsboro;
  padding: 50px;
}

.header {
  max-width: 300px;
  display: block;
  margin: auto;
  position: relative;
  padding: 10px;
  background: white;
  border-radius: 3px;
  border-bottom: 5px solid gold;
}

input[type="text"] {
  width: 70%;
  border: none;
  background: aliceblue;
  padding: 5px;
  font-weight: 500;
  font-family: cursive;
}

li {
  list-style: none;
  font-family: cursive;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  max-width: 300px;
  color: white;
  background: #474747;
  border-radius: 3px;
  border-bottom: 5px solid black;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  position: relative;
}

.del {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 20px;
  top: 25%;
}

svg {
  width: 26px;
  position: absolute;
  left: 10px;
  cursor: pointer;
}

.box {
  position: relative;
}

/* svg#delete {
  left: 105%;
  z-index: 200;
  position: absolute;
  top: 25%;
} */

li.active {
  font-weight: 300;
  opacity: 0.5;
  text-decoration: line-through;
}
